.wishlist-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    width: 70%;
    padding: 1rem;
    margin: 1rem auto;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    background-color: #f7f3f3;
}

.wishlist-img-text {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.wishlist-card-text {
    flex-grow: 1;
    padding-left: 1rem;
}

.wishlist-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

#wishlist-buy-btn, #wishlist-add-btn, #wishlist-remove-btn {
    width: 10rem;
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
}

#wishlist-buy-btn, #wishlist-add-btn, #wishlist-remove-btn {
    background-color: black;
    color: white;
}

#wishlist-buy-btn:hover, #wishlist-add-btn:hover, #wishlist-remove-btn:hover {
    opacity: 0.8;
}

.wishlist-color-p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0.5rem;
}

img {
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
}

/* Media Queries for smaller screens */
@media screen and (max-width: 768px) {
    .wishlist-card-container {
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 1rem;
    }
    .wishlist-img-text {
        flex-direction: column;
    }
    .wishlist-buttons {
        width: 100%;
        align-items: center;
    }
}
